# --- Dependencies (Bağımlılıklar) ---
node_modules/

# --- Security & Environment (Güvenlik) ---
.env
.env.local
.env.development
.env.test
.env.production

# --- Logs (Loglar) ---
logs
*.log
npm-debug.log*

# --- IDE Settings (VS Code vb. ayarları) ---
.idea/
.vscode/
*.swp
*.swo

# --- OS Files (İşletim Sistemi Dosyaları) ---
.DS_Store
Thumbs.db

# --- User Uploads (Kullanıcı Dosyaları) ---
uploads/